.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 17px solid rgb(130, 130, 218)
  padding: 33px;
}

.header{
  padding: 10px;
}

body{
  padding: 20px;
  background-color: rgb(201, 170, 201);
}